body{max-width:480px;margin:auto;font-size:large;padding:10px;}
a{color:black;text-decoration:none;}
ul{column-count:2;list-style-type:none;line-height:31px;}
.left{padding-left:10px;}
.section{padding-left:15px;padding-right:15px;}
.container{margin:10px auto;max-width:480px;text-align:center;}
.container.h1{margin:30px 0;font-size:4em;line-height:1;letter-spacing:-1px;}
