<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Reset maintenance light. Simply select the manufacturer, model, year and follow the instructions.">
    <title>{{ page.title }} | OilMaint.com</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body>
    <div class="left">
      <a href="/"><h1>OilMaint</h1></a>
    </div>
    <hr>
    <div class="section">
      {{ content }}
    </div>
  </body>
</html>
