<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Reset maintenance light. Simply select the manufacturer, model, year and follow the instructions.">
    <title>{{ page.title }} | OilMaint.com</title>
    <style>
      body{max-width:480px;margin:auto;font-size:large;padding:10px;}
      a{color:black;text-decoration:none;}
      ul{column-count:2;list-style-type:none;line-height:31px;}
      .left{padding-left:10px;}
      .section{padding-left:15px;padding-right:15px;}
    </style>
  </head>
  <body>
    <div class="left">
      <a href="/"><h1>OilMaint</h1></a>
    </div>
    <hr>
    <div class="left">
      <a href="/">Home</a> > <a href="../">{{ ../page.title }}</a> > <a href="./">{{ page.title }}</a>
    </div>
    <hr>
    <div class="section">
      {{ content }}
    </div>
  </body>
</html>
